* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

.top-nav{
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	background-color: #f5f5f7;
	
}

.nav-links {
	display: flex;
}

.nav-links a, .search, .number{
	padding: 15px;
	color: #bababa;
}

.divider {
	border-left: 1px solid;
	border-color: #e0e0e0;
}

@media only screen and (max-width: 600px) {
  .number, .divider {
	  display: none;
  }
  .nav-links {
	  flex-wrap: wrap-reverse;
	  font-size: 0.8rem;
  }
}

.main-nav {
	display: flex;
	justify-content: space-around;
	padding: 30px;
}

.logo{
	width: 306px;
	height: 43px;
}

.nav-buttons button {
	padding: 15px;
	background: transparent;
	border: 2px solid transparent;
	margin: 8px;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.nav-buttons button:hover {
	border: 2px solid black;
}

.banner {
	background-image: url("https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=9240162744247295619");
	background-size: cover;
	height: 600px;
	display: flex;
	justify-content: center;
}

.banner-content {
	text-align: center;
	
}

.banner-content h1 {
	font-size: 5rem;
	letter-spacing: 1rem;
	color: white;
}

