* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

.top-nav{
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	background-color: #f5f5f7;
	
}

.nav-links {
	display: flex;
}

.nav-links a, .search, .number{
	padding: 15px;
	color: #bababa;
}

.divider {
	border-left: 1px solid;
	border-color: #e0e0e0;
}

@media only screen and (max-width: 600px) {
  .number {
	  display: none;
  }
  .nav-links {
	  flex-wrap: wrap-reverse;
  }
}

