* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Heebo', sans-serif;
	letter-spacing: 1px;
}

.top-nav{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1%;
	font-size: 15px;
	background-color: #f5fffe;
	color: #a1a1a1;
}

.nav-links {
	display: flex;
	
}

.nav-links a, .search, .number{
	padding: 5px;
}
